<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cursos pagos</title>
    <link rel="stylesheet" href="../stilos.css">
</head>

<body>
    <nav id="nav">
     
    </nav>
    <h1>Listado de cursos pagos</h1>

    <ul class="listado-cursos" id="listado-cursos">

    </ul>

   

   <script src="../js/header.js"></script>
  <script type="module" src="../js/cursosPagos.js"></script>
</body>

</html>