<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar sesion</title>
</head>

<body>
    <nav id="nav">

    </nav>

    <h1>Iniciar sesion</h1>

    <form id="loginForm">
        <input type="email" name="email" id="email" placeholder="Correo" required>
        <input type="password" name="password" id="password" placeholder="Contraseña" required>
        <input type="submit" value="Iniciar Sesion">
    </form>

    <p id="mensaje"></p>
    <script src="../js/header.js"></script>
    <script src="../js/login.js"></script>
</body>

</html>