<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>registrarse</title>
</head>

<body>
    <nav id="nav">
  
    </nav>



    <h1>Registro de usuario</h1>
    <form id="registerForm">
        <input type="text" name="nombre" id="nombre" placeholder="Nombre" required>
        <input type="text" name="apellido" id="apellido" placeholder="Apellido" required>
        <input type="email" name="email" id="email" placeholder="Correo" required>
        <input type="password" name="password" id="password" placeholder="Contraseña" required>
        <input type="submit" value="Registrarse">
    </form>

    <p id="mensaje"></p>
    <script src="../js/header.js"></script>
   <script src="../js/register.js"></script>
</body>

</html>