*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.Navbar{
  background-color: rgb(8, 32, 139);
  display: flex;
  justify-content: space-around;
  min-height: 70px;
  align-items: center;
}

.NavbarLogo{
  width: 80px;
}

.NavbarList{
  display: flex;
  list-style: none;
  justify-content: space-between;
  width: 700px;

}

.navbarItem{
  margin: 0px 10px;
}

.NavbarLink{
    text-decoration: none;
    color: white;
}