*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.Navbar{
  background-color: rgb(8, 32, 139);
  display: flex;
  justify-content: space-around;
  min-height: 70px;
  align-items: center;
}

.NavbarList{
  display: flex;
  list-style: none;
  width: 30%;
  justify-content: space-between;
}

.NavbarLink{
    text-decoration: none;
    color: white;
}